@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{margin: 0; padding: 0;}
body{width: 100%; position: fixed; height: 100%; background: #111; color: #fff;} 
ul,ol,li{list-style: none;}
a{text-decoration: none; color: #bbb;}
img{vertical-align: bottom;}

#start{width: 100%; height: 100%; background-color: red;}